{% extends 'base.html' %}

{% block title %}Home{% endblock %} 


{% block content %} 
 

<div>
   <section id="hero" class="py-5 bg-purple text-white text-center d-flex align-items-center" style="min-height: 100vh;">
        <div class="container">
            <h1 class="display-4">Your One Stop Recipe Book</h1>
        </div>
    </section>

    <section id="page-text">
        <h2 class="contrast organic-heading">Welcome to Our Recipe Book</h2>
        <p>Welcome to a recipe book that celebrates the joy of cooking and the beauty of diversity. In these pages, you’ll find cherished dishes from kitchens around the world—shared by individuals who believe in the power of food to bring us together.
            Plan your month with delicious breakfasts, hearty lunches, and soulful dinners. Whether you're adding a beloved family recipe, discovering new flavors, or curating your perfect meal planner, this book is your space to create, share, and connect.
            Let every meal be a story, every recipe a bridge, and every bite a celebration.</p>
    </section>


</div>

{% endblock %}