{% extends "base.html" %}
{% load static %}
{% load crispy_forms_tags %}

{% block title %}Profile - {{profile.user.username}}{% endblock %}

{% block content %}
<div class="container p-4">
    <div class="profile">
        <div class="info">
            <div class="profile-img text-center">
                {% if profile.image.url is not none %}
                <img src="{{ profile.image.url }}" alt="{{ profile.user.username }}'s profile image">
                {% else %}
                <img src="{% static '/icons/no-photography-icon.svg' %}" alt="Image not found icon">
                {% endif %}
            </div>
            <h1>{{ profile.user.username }}</h1>
            <p><strong>Joined: </strong>{{ profile.user.date_joined|date:'d M Y' }}</p>
            <p><strong>Recipes: </strong>{{ profile.user.recipe_owner.count }}</p>
            {% if profile.bio is not none %}
            {{ profile.bio|safe }}
            {% endif %}

            {% if request.user == profile.user %}
            <div>
                <button id="myBtn" class="btn btn-primary w-50 w-md-25 mb-4">Edit Profile</button>
            </div>
            <div>
                <a href="{% url 'meal_planner' %}" class="btn btn-primary w-50 w-md-25 mb-4">Meals</a>
            </div>
            {% endif %}
        </div>
        <div class="profile-recipes">
            <h2 class="text-center pb-4">Latest Recipes</h2>
            {% for recipe in profile.user.recipe_owner.all %}
            <a href="{% url 'recipe_detail' recipe.id %}">
                <h3>{{ recipe.title }}</h3>
            </a>
            {{ recipe.posted_date }}
            <hr>
            {% endfor %}
        </div>
    </div>

    <!-- The Modal -->
    <div id="myModal" class="modal">
        <div class="modal-content">
            <span class="close">&times;</span>
            <form method="POST" action="{% url 'edit_profile' request.user.profile.id %}" enctype="multipart/form-data" class="p-4">
                <h2 class="text-center mb-4">Edit</h2>
                {% csrf_token %}
                <div class="form-group">
                    {{ form.image|as_crispy_field }}
                </div>
                <div class="form-group">
                    {{ form.bio|as_crispy_field }}
                </div>
                <div class="text-center mt-3">
                    <button type="submit" class="btn btn-primary">Save Changes</button>
                </div>
            </form>
        </div>
    </div>
</div>
{% endblock %}