{% load static %}

<footer>
    <!-- social media icons -->
     <a href="" target="_blank" rel="noopener" aria-label="facebook - Opens in a new tab ">
        <img src="{% static '/icons/facebook-square-icon.svg' %}" alt="facebook icon" class="social-icon">
     </a>

     <a href="" target="_blank" rel="noopener" aria-label="instagram - Opens in a new tab ">
        <img src="{% static '/icons/ig-instagram-icon.svg' %}" alt="instagram icon" class="social-icon">
     </a>

     <a href="" target="_blank" rel="noopener" aria-label="X - Opens in a new tab ">
        <img src="{% static '/icons/x-social-media-logo-icon.svg' %}" alt="X icon" class="social-icon">
     </a>

     <a href="" target="_blank" rel="noopener" aria-label="youtube - Opens in a new tab ">
        <img src="{% static '/icons/youtube-color-icon.svg' %}" alt="youtube icon" class="social-icon">
     </a>
</footer>

